<div class="{{ xsColWidth colWidth }}">
    <div class="row">
        {{#each products as |product|}}
        <div class="{{ xsColWidth ../innerColWidth }} well">
            <a href="{{ productPath product.id }}">
                <div class="product-image">
                    <img class="img-responsive" src="{{ product.image_url }}">
                </div>
                <h3>
                    {{ product.name }}
                </h3>
                <p>
                    ${{ product.price }}
                </p>
            </a>
            {{> shared/_addToCart productId=product.id }}
        </div>
        {{/each}}
    </div>
</div>
