{{#each products as |product|}}
    <div class="{{ xsColWidth ../colWidth }}">
        <a href="{{ productPath product.id }}">
            <div class="product-image">
                <img class="img-responsive" src="{{ product.image_url }}">
            </div>
            <div>
                {{ product.name }}
            </div>
            <div>
                {{ product.price }}
            </div>
        </a>
        <form action="{{cartIncPath product.id}}" method="post">
            <input type="hidden" name="name" value="{{product.name}}">
            <input type="hidden" name="price" value="{{product.price}}">
            <button type="submit">Add to Cart</button>
        </form>
    </div>
{{/each}}
