<div class="row">
    <div class="{{xsColWidth 8}}">
        {{#each products as |product|}}
        <div class="row">
            <div class="{{xsColWidth 4}}">
                <a href="{{ productPath product.id }}">
                    <img class="img-responsive" src="{{ product.image_url }}">
                </a>
            </div>
            <div class="{{xsColWidth 8}}">
                <div class="font-size-24">
                    <a href="{{ productPath product.id}}">{{ product.name }}</a>
                </div>
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Quantity</th>
                            <th></th>
                            <th>Price</th>
                            <th></th>
                            <th>Subtotal</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <form action="{{cartUpdatePath product.id}}" method="post">
                                    <label class="sr-only" for="quantity">Quantity</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="quantity" name="quantity" value="{{ product.quantity }}">
                                        <span class="input-group-btn"><button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-refresh"></span></button>
                                        </span>
                                    </div>

                                </form>
                            </td>
                            <td>x</td>
                            <td>{{ USDollars product.price}}</td>
                            <td>=</td>
                            <td>{{ itemSubtotal product.price product.quantity}}</td>
                        </tr>
                    </tbody>
                </table>
                <form class="top-right-absolute inherit-padding" action="{{cartItemDestroyPath product.id}}" method="post">
                    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-label="delete-item"></span></button>
                </form>
            </div>
        </div>
        <hr> {{/each}}
    </div>
    <div class="{{xsColWidth 4}} well">
        <h2>Today's total</h2>
        <div class="text-danger lead">
            <p>
                {{ itemsTotal currentUser.cart }}
            </p>
            <a href="{{ checkoutPath }}" class="btn btn-primary btn-block">Checkout Now</a>
        </div>
    </div>
</div>
