<div class="row">
    <div class="{{xsColWidth 8}}">
        {{#each products as |product|}}
        <div class="row margin-bot-10">
            <div class="{{xsColWidth 4}}">
                <a href="{{ productPath product.id }}">
                    <img class="img-responsive" src="{{ product.image_url }}">
                </a>
            </div>
            <div class="{{xsColWidth 8}}">
                <h3>
                    {{ product.name }}
                </h3>
                <p>
                    Unit Price: ${{ product.price }} x Quantity: {{ product.quantity }} = Subtotal: ${{ itemSubtotal product.price product.quantity}}
                </p>
                <form action="{{cartItemDestroyPath product.id}}" method="post">
                    <button type="submit" class="btn btn-danger top-right-absolute"><span class="glyphicon glyphicon-trash" aria-label="delete-item"></span></button>
                </form>
                <form action="{{cartUpdatePath product.id}}" class="form-inline" method="post">
                    <div class="form-group">
                        <input class="form-control" type="number" name="quantity" value="{{ product.quantity }}">
                        <button type="submit" class="btn btn-info">Change quantity</button>
                    </div>
                </form>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="{{xsColWidth 4}} well">
        <h2>Today's total</h2>
        <div class="text-danger lead">
            <p>
                ${{ itemsTotal currentUser.cart }}
            </p>
            <a href="{{ checkoutPath }}" class="btn btn-primary btn-block">Checkout Now</a>
        </div>
    </div>
</div>
