<h2>Checkout</h2>
<div class="row">
    <div class="{{ xsColWidth 5 }}">
        <h3>Billing Info</h3>

        <form action="/checkout" method="post" id="billing-info">
            <!-- User First Name -->
            <div class="form-group">
                <label for="fname">First name</label>
                <input type="text" class="form-control" name="form[fname]" id="fname">
            </div>
            <!-- User Last Name -->
            <div class="form-group">
                <label for="lname">Last name</label>
                <input type="text" class="form-control" name="form[lname]" id="lname">
            </div>
            <!-- User Email -->
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="form[email]" id="email">
            </div>
            <!-- User Address -->
            <div class="form-group">
                <label for="street">Street</label>
                <input type="text" class="form-control" name="form[address][street]" id="street">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" name="form[address][city]" id="city">
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <select type="text" class="form-control" name="form[address][state]" id="state">
                    <option>Alabama</option>
                    <option>Alaska</option>
                    <option>Arizona</option>
                    <option>Arkansas</option>
                    <option>California</option>
                    <option>Colorado</option>
                    <option>Connecticut</option>
                </select>
            </div>
        </form>

    </div>
    <div class={{ xsColWidth 5 }}>
        <h3>Order Items</h3>
        {{#each currentUser.cart as |product| }}
        <div class="row margin-bot-10">
            <div class="{{xsColWidth 2}}">
                <img class="img-responsive" src={{product.image_url}}>
            </div>
            <div class="{{xsColWidth 10}}">
                <div>
                    {{product.name}}: <span class="float-right">${{product.price}} x {{product.quantity}} = ${{ itemSubtotal product.price product.quantity}}</span>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="text-right lead text-danger">
            Grand total: ${{ itemsTotal currentUser.cart }}
        </div>
        <a href="{{ cartPath }}" class="btn btn-danger">Return to cart</a>
        <button type="submit" class="btn btn-info" form="billing-info">Go to payment page</button>
    </div>
</div>
