<div class="row">
    <div class="col-xs-6">
        <img class="img-responsive" src={{product.image_url}}></img>
    </div>
    <div class="col-xs-6">
        <h2>{{product.name}}</h2>
        <h4>Price: ${{product.price}}
        </h4>
        {{#if (checkIfInCart currentUser._cartIndex product.id)}} {{> shared/_goToCart }} {{else}} {{> shared/_addToCart productId=product.id }} {{/if}}
    </div>
    <div class="col-xs-12">
        <h3>Description</h3>
        <div>
            {{product.description}}
        </div>
    </div>
</div>
<div class="row">
    <h2 class="text-center">Similar Products</h2>
    {{> shared/_displayProducts currentUser=currentUser products=suggestedProducts colWidth=4 }}
</div>
